# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
test_bin/gtest_main

# GoogleTest files
external/googlltest/.git
external/googletest/googletest/libgtest.a
external/googletest/googletest/libgtest_main.a
external/googletest/googletest/CMakeCache.txt
external/googletest/googletest/cmake_install.cmake
external/googletest/googletest/Makefile
external/googletest/CMakeCache.txt
external/googletest/googlemock/libgmock.a
external/googletest/googlemock/libgmock_main.a
external/googletest//googletest/CMakeFiles/*
